parameters:
    level: 1
    paths:
        - src/php/
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Tideways\\Profiler#'
        - '#Call to static method getDebug\(\) on an unknown class AppKernel.#'
        - '#Function debug not found.*#'
    reportUnmatchedIgnoredErrors: false
