<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
  backupGlobals="false"
  backupStaticAttributes="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertWarningsToExceptions="true"
  convertNoticesToExceptions="true"
  processIsolation="false"
  stopOnFailure="false"
>
  <php>
    <server name="KERNEL_DIR" value="./app"/>
    <env name="CONFIG" value="./test/environment"/>
    <env name="jwt_salt" value="00000000000000000000000000000000"/>
    <env name="aes256_key" value="elArK3RZN05kc0xYNXVXWnI5aGJnYk1sSTRqMUtybXM="/>
  </php>
  <testsuites>
    <testsuite name="Catwalk Test Suite">
      <directory>test/php/</directory>
    </testsuite>
  </testsuites>
  <groups>
    <exclude>
      <group>functional</group>
    </exclude>
  </groups>
</phpunit>
