/* ==========================================================================
   #PAGE-FOOT
========================================================================== */

.c-page-foot {
    padding-top: $unit;
    padding-bottom: $unit;
    color: $color-text-invert;
    background: $color-background-dark;
}
