{# @TODO: handle hinding / showing of cells #}
<div>
    {% for tastic in cell.tastics %}
        {% include '@Tastic/tastic.html.twig' with { node: node, page: page, data: data, region: region, cell: cell, tastic: tastic } %}
    {% endfor %}
</div>
