<div class='o-region'>
    {% for cell in region.elements %}
        {% include '@Tastic/cell.html.twig' with { node: node, page: page, data: data, region: region, cell: cell } %}
    {% endfor %}
</div>
