{# @TODO: Handle hinding / showing of tastics #}
{# @TODO: Resolve tastic data nicely (see tasticDataConnector in JS) #}
<div class='e-tastic e-tastic__{{tastic.tasticType}}' id='{{tastic.tasticId}}'>
    {% include ['@Tastic/tastic/' ~ tastic.tasticType ~ '.html.twig', '@Tastic/missingTastic.html.twig'] with { node: node, page: page, data: data, region: region, cell: cell, tastic: tastic } %}
</div>
