/* ==========================================================================
   #CELL
========================================================================== */

.e-cell {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: stretch;
}

.e-cell--12 {
}

.e-cell--6 {
    @media (min-width: map-get($breakpoints, lap)) {
        width: 50%;
    }
}

.e-cell--4 {
    @media (min-width: map-get($breakpoints, lap)) {
        width: 33%;
    }
}

.e-cell--3 {
    width: 50%;

    @media (min-width: map-get($breakpoints, lap)) {
        width: 25%;
    }
}

.e-cell--2 {
    width: 100%;

    @media (min-width: map-get($breakpoints, lap)) {
        width: 16%;
    }
}

.e-cell--hidden-hand {
    @media (max-width: map-get($breakpoints, lap)) {
        display: none;
    }
}

.e-cell--hidden-lap {
    @media (min-width: map-get($breakpoints, lap)) and (max-width: map-get($breakpoints, desk)) {
        display: none;
    }
}

.e-cell--hidden-desk {
    @media (min-width: map-get($breakpoints, desk)) {
        display: none;
    }
}
