{% extends "layout.html.twig" %}

{% block title %}
{{ parent() }}
{% endblock %}

{% block main %}
{% spaceless %}
{% set response = frontastic_render(app.request, completeInformation({ previewId: previewId, node: node, page: page, data: data })) %}
    <div id="app">
        {% if response.status < 400 %}{{ response.body.app|raw }}{% endif %}
    </div>
    <div id="appData"
         data-props="{{ completeInformation({ previewId: previewId, node: node, page: page, data: data })|frontastic_json_serialize|json_encode() }}"
         data-app="{{ frontastic_context()|json_encode() }}"
     />
{% endspaceless %}
{% endblock %}
